.productdisplay {
  display: flex;
  margin: 0 10.625rem;
}

.productdisplay-left {
  display: flex;
  gap: 1.063rem;
}

.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productdisplay-img-list img {
  height: 11.531rem;
}

.productdisplay-main-img {
  width: 36.625rem;
  height: 36.625rem;
}

.productdisplay-right {
  margin: 0 4.375rem;
  display: flex;
  flex-direction: column;
}

.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 2.5rem;
  font-weight: 700;
}

.productdisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 0.813rem;
  gap: 0.313rem;
  color: #1c1c1c;
  font-size: 1rem;
}

.productdisplay-right-prices {
  display: flex;
  margin: 2.5rem 0;
  gap: 1.875rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.productdisplay-right-price-old {
  color: #818181;
  text-decoration: line-through;
}

.productdisplay-right-price-new {
  color: #fc6031;
}

.productdisplay-right-size h1 {
  margin-top: 3.438rem;
  color: #656565;
  font-size: 1.25rem;
  font-weight: 600;
}

.productdisplay-right-sizes {
  display: flex;
  margin: 1.875rem;
  gap: 1.25rem;
}

.productdisplay-right-sizes div {
  padding: 1.125rem 1.5rem;
  background: #fbfbfb;
  border: 0.063rem solid #ebebeb;
  border-radius: 0.188rem;
  cursor: pointer;
}

.productdisplay-right button {
  padding: 1.25rem 2.5rem;
  width: 12.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: #ff6d41;
  margin-bottom: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay-right-category {
  margin-top: 0.625rem;
}

.productdisplay-right-category span {
  font-weight: 600;
}
